version: "3.9"

services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin123
      MINIO_SECURE: "false"
      GROQ_API_KEY: ${GROQ_API_KEY}
    depends_on:
      minio:
        condition: service_healthy
    volumes:
      - app_data:/app/data
      - hf_cache:/root/.cache/huggingface # Update from Hatakekksheeshh: Mount HuggingFace cache to persist massive embedding models between restarts
      - ./static:/app/static # Update from Hatakekksheeshh: hot-reload
    restart: unless-stopped

volumes:
  minio_data:
  app_data:
  hf_cache:
